fastapi[all]
pytest
pytest-asyncio
mangum==0.10.0
requests>=2.24.0
uvicorn==0.12.2
sqlalchemy==1.4.0
fastapi-sqlalchemy==0.2.1
PyMySQL==1.0.2
debugpy
motor==2.2.0
dicttoxml
lxml
beautifulsoup4
aioredis
pytest-env
boto3==1.15.18